* {
    font-family: 'Poppins', sans-serif;
}

header {
    text-align: center;
    padding: 40px;
    font-size: 30px;
}

#main {
    display: flex;
    flex-direction: row;
    .right, .left {
        text-align: center;
        font-size: 25px;
        flex: 1;
    }

    .notPlaying {
        opacity: 0.3;
    }
}

.container {
    display: grid;
    flex: 2;
    grid-template: repeat(3, 80px) / repeat(3, 80px);
    justify-content: center;
    height: 240px;
}

.container>div {
    padding: 20px;
    border: 1px solid black;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    font-size: 40px;
}

#play {
    margin: 50px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .restartBtn {
        padding: 15px 100px;
        border-radius: 10px;
    }
}

#mode {
    padding: 5px 23px;
    border-radius: 8px;
}

